<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>DropShot Stats - {% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/template.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- DataTables -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="{{ url_for('index')}}">DropShot Stats</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('viewMatches') }}">View Matches</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('viewMaps') }}">View Maps</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Leaderboards</a>
                        <div class="dropdown-menu">
                            <a href="{{ url_for('playerLeaderboard') }}" class="dropdown-item">Player</a>
                            <a href="{{ url_for('teamLeaderboard') }}" class="dropdown-item">Team</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Profiles</a>
                        <div class="dropdown-menu">
                            <a href="{{ url_for('playerProfiles') }}" class="dropdown-item">Player</a>
                            <a href="{{ url_for('teamProfiles') }}" class="dropdown-item">Team</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    
        <footer>
          <center>
            <p>Created by: Cocoa | <a href="https://twitter.com/DropShotStats" target="_blank">@DropShotStats</a></p>
          </center>
        </footer>

        {% block scripts %}{% endblock %}
    </body>
</html>