{% extends 'base.html' %}

{% block title %} Match Details {% endblock %}

{% block content %}
<br />
<a class="btn btn-dark btn-sm" href="{{ url_for('viewMatches') }}" role="button">Back to Match List</a>
<br />

<table class="details table cell-border nowrap" style="text-align: center; width: 100%;">
    <thead >
        <tr>
            <td>Overall Stats</td>
            <td colspan="5">{{ matchDetails['Team 1'] }} | {{ matchDetails['Team 1 Score'] }} - {{ matchDetails['Team 2 Score'] }} | {{ matchDetails['Team 2'] }}</td>
            {% if matchDetails['Match VOD']|string != 'None' %}
                <td>
                    <a href="{{ matchDetails['Match VOD'] }}" target="_blank">Match VOD</a>
                </td>
            {% else %}
                <td>No Match VOD</td>
            {% endif %}
        </tr>
        <tr>
            <td>Team</td>
            <td>Player</td>
            <td>K/D</td>
            <td>Kills</td>
            <td>Deaths</td>
            <td>Engagements</td>
            <td>Difference</td>
        </tr>
    </thead>
    <tbody>
        {% for row in matchDetails['Overall'] %}
            <tr>
                <td>{{ row['Team'] }}</td>
                <td>{{ row['Player'] }}</td>
                {% if row['Kills']|string == 'None' and row['Deaths']|string == 'None' %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% else %}
                    <td>{{ '%.2f'| format(row['KD']|float) }}</td>
                    <td>{{ row['Kills'] }}</td>
                    <td>{{ row['Deaths'] }}</td>
                    <td>{{ row['Engagements'] }}</td>
                    <td>{{ row['Difference'] }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% for mapDetails in matchDetails['Map Details'] %}
    <br />

    <table class="details table cell-border nowrap" style="text-align: center; width: 100%;">
        <thead>
            <tr>
                {% if mapDetails['Map']|string == 'None' %}
                <td>Map {{ mapDetails['Map Number'] }}</td>
                {% else %}
                    <td>Map {{ mapDetails['Map Number'] }}: {{ mapDetails['Map'] }}</td>
                {% endif %}
    
                {% if mapDetails['Team 1 Score']|string == 'None' and mapDetails['Team 2 Score']|string == 'None' %}
                    <td colspan="6">{{ mapDetails['Team 1'] }} | - | {{ mapDetails['Team 2'] }}</td>
                {% else %}
                    <td colspan="6">{{ mapDetails['Team 1'] }} | {{ mapDetails['Team 1 Score'] }} - {{ mapDetails['Team 2 Score'] }} | {{ mapDetails['Team 2'] }}</td>
                {% endif %}
    
                {% if mapDetails['Map VOD']|string != 'None' %}
                    <td>
                        <a href="{{ mapDetails['Map VOD'] }}" target="_blank">Map VOD</a>
                    </td>
                {% else %}
                    <td>No Map VOD</td>
                {% endif %}
            </tr>
            <tr>
                <td>Team</td>
                <td>Player</td>
                <td>K/D</td>
                <td>Kills</td>
                <td>Deaths</td>
                <td>Engagements</td>
                <td>Difference</td>
                <td>Map Result</td>
        </thead>
        <tbody>
            {% for row in mapDetails['Map Stats'] %}
                <tr>
                    <td>{{ row['Team'] }}</td>
                    <td>{{ row['Player'] }}</td>
                    {% if row['Kills']|string == 'None' and row['Deaths']|string == 'None' %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% else %}
                        <td>{{ '%.2f'| format(row['KD']|float) }}</td>
                        <td>{{ row['Kills'] }}</td>
                        <td>{{ row['Deaths'] }}</td>
                        <td>{{ row['Engagements'] }}</td>
                        <td>{{ row['Difference'] }}</td>
                    {% endif %}
                    {% if row['Map Result']|string == 'None' %}
                        <td></td>
                    {% else %}
                        <td>{{ row['Map Result'] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.details').DataTable({
            ordering: false,
            scrollX: true,
            paging: false,
            bInfo: false,
            searching: false
        });
    });
</script>
{% endblock %}