{% extends 'base.html' %}

{% block title %} {{ player.username }} {% endblock %}

{% block content %}
<br />
<a class="btn btn-dark btn-sm" href="{{ url_for('playerProfiles') }}" role="button">Back to Player Profiles</a>

<div class="header">
    <div class="info">
        <h1>{{ player.firstName }} "{{ player.username }}" {{ player.lastName }}</h1>
        {% if player.birthday|string != 'None' %}
            <p>Birthday: {{ player.birthday }} (Age: {{ player.age }})</p>
        {% endif %}
        <p>Last Recorded Team: {{ player.lastRecordedTeam }}</p>
        <p>Previous Teams: {{ player.previousTeams|join(", ") }}</p>
    </div>

    <div class="socialMedia">
        <!-- Instagram -->
        {% if player.socialMedia['Instagram Username']|string != 'None' %}
            <div class="wrap">
                <div class="left_col">
                    <a href="https://instagram.com/{{ player.socialMedia['Instagram Username'] }}" target="_blank">
                        <img src="{{ url_for('static', filename='instagramLogo.png') }}" />
                    </a>
                </div>
                <div class="right_col">
                    <p></p>
                </div>
            </div>
        {% endif %}

        <!-- Twitch -->
        {% if player.socialMedia['Twitch Channel']|string != 'None' %}
            <div class="wrap">
                <div class="left_col">
                    <a href="https://twitch.tv/{{ player.socialMedia['Twitch Channel'] }}" target="_blank">
                        <img src="{{ url_for('static', filename='twitchLogo2.png') }}" />
                    </a>
                </div>
                <div class="right_col">
                    <p></p>
                </div>
            </div>
        {% endif %}

        <!-- Twitter -->
        {% if player.socialMedia['Twitter Username']|string != 'None' %}
            <div class="wrap">
                <div class="left_col">
                    <a href="https://twitter.com/{{ player.socialMedia['Twitter Username'] }}" target="_blank">
                        <img src="{{ url_for('static', filename='twitterLogo.png') }}" />
                    </a>
                </div>
                <div class="right_col">
                    <p>{{ "{:,}".format(player.twitterFollowers) }} followers</p>
                </div>
            </div>
        {% endif %}

        <!-- YouTube -->
        {% if player.socialMedia['YouTube Channel']|string != 'None' %}
            <div class="wrap">
                <div class="left_col">
                    <a href="{{ player.socialMedia['YouTube Channel'] }}" target="_blank">
                        <img src="{{ url_for('static', filename='youtubeLogo.png') }}" />
                    </a>
                </div>
                <div class="right_col">
                    <p></p>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<br />
<table id="playerStats" class="table" style="text-align: center; width: 100%;">
    <thead>
        <tr>
            <td>Season</td>
            <td>K/D</td>
            <td>Kills</td>
            <td>Deaths</td>
            <td>Matches Played</td>
            <td>Matches Won</td>
            <td>Matches Lost</td>
            <td>Maps Played</td>
            <td>Maps Won</td>
            <td>Maps Lost</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Overall</td>
            <td>{{ '%.2f'| format(player.kd|float) }}</td>
            <td>{{ player.kills }}</td>
            <td>{{ player.deaths }}</td>
            <td>{{ player.matchesPlayed }}</td>
            <td>{{ player.matchWins }}</td>
            <td>{{ player.matchLosses }}</td>
            <td>{{ player.mapsPlayed }}</td>
            <td>{{ player.mapWins }}</td>
            <td>{{ player.mapLosses }}</td>
        </tr>
        {% for season in player.seasons|reverse %}
            <tr>
                <td>{{ season }}</td>
                <td>{{ '%.2f' | format(player.playerStats[season]['kd']|float) }}</td>
                <td>{{ player.playerStats[season]['kills'] }}</td>
                <td>{{ player.playerStats[season]['deaths'] }}</td>
                <td>{{ player.playerStats[season]['matchesPlayed'] }}</td>
                <td>{{ player.playerStats[season]['matchWins'] }}</td>
                <td>{{ player.playerStats[season]['matchLosses'] }}</td>
                <td>{{ player.playerStats[season]['mapsPlayed'] }}</td>
                <td>{{ player.playerStats[season]['mapWins'] }}</td>
                <td>{{ player.playerStats[season]['mapLosses'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr />
<center>
    <h4>Player Matches</h4>
</center>
<table id="playerMatches" class="table table-striped cell-border nowrap" style="text-align: center; width: 100%;">
    <thead>
        <tr>
            <td></td>
            <td>Season</td>
            <td>Team</td>
            <td>Opponent</td>
            <td>Event</td>
            <td>Date</td>
            <td>Team Score</td>
            <td>Opponent Score</td>
            <td>Winner</td>
            <td>Match VOD</td>
        </tr>
    </thead>
    <tbody>
        {% for row in player.matches %}
            <tr>
                <td><a href="{{ url_for('matchDetails', matchID=row['Match ID']) }}">Match Details</a></td>
                <td>{{ row['Season'] }}</td>
                <td>{{ row['Team'] }}</td>
                <td>{{ row['Opponent'] }}</td>
                <td>{{ row['Event'] }}</td>
                <td>{{ row['Date'] }}</td>
                <td>{{ row['Team Score'] }}</td>
                <td>{{ row['Opponent Score'] }}</td>
                <td>{{ row['Winner'] }}</td>
                {% if row['Match VOD']|string != 'None' %}
                    <td>
                        <a href="{{ row['Match VOD'] }}" target="_blank">VOD</a>
                    </td>
                {% else %}
                    <td>No VOD</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#playerMatches').DataTable({
            ordering: false,
            scrollX: true
        });
    });
</script>
{% endblock %}