{% extends 'base.html' %}

{% block title %} View Matches {% endblock %}

{% block content %}
    <br />
    <form active="{{ url_for('viewMatches') }}" method="post">
        <!-- Clean up so it looks better on the page -->
        <label for="season">Seasons</label>
        <ul class="seasonDropdown">
            {% for season in dropdownLists['seasonList'] %}
                <li><input type="checkbox" {% if season in selectedItems['seasons'] %} checked {% endif %} name="seasons" value="{{ season }}" />{{ season }}</li>
            {% endfor %}
        </ul>

        <label for="team1">Team</label>
        <select id="team1" name="team1">
            <option value="All" {% if selectedItems['team1'] == 'All' %} selected {% endif %}>All</option>
            {% for team in dropdownLists['teamList'] %}
                <option value="{{ team }}" {% if selectedItems['team1'] == team %} selected {% endif %}>{{ team }}</option>
            {% endfor %}
        </select>

        <label for="team2">Opponent</label>
        <select id="team2" name="team2">
            <option value="All" {% if selectedItems['team2'] == 'All' %} selected {% endif %}>All</option>
            {% for team in dropdownLists['teamList'] %}
                <option value="{{ team }}" {% if selectedItems['team2'] == team %} selected {% endif %}>{{ team }}</option>
            {% endfor %}
        </select>

        <label for="event">Event</label>
        <select id="event" name="event">
            <option value="All" {% if selectedItems['event'] == 'All' %} selected {% endif %}>All</option>
            {% for event in dropdownLists['eventList'] %}
                <option value="{{ event }}" {% if selectedItems['event'] == event %} selected {% endif %}>{{ event }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-dark btn-sm" type="submit">Search</button>
    </form>
    <br />

    <table id="matches" class="table table-striped cell-border nowrap" style="text-align: center; width: 100%;">
        <thead>
            <tr>
                <td></td>
                <td>Season</td>
                <td>Team 1</td>
                <td>Team 2</td>
                <td>Event</td>
                <td>Date</td>
                <td>Team 1 Score</td>
                <td>Team 2 Score</td>
                <td>Winner</td>
                <td>Match VOD</td>
            </tr>
        </thead>
        <tbody>
            {% for row in matches %}
                <tr>
                    <td><a href="{{ url_for('matchDetails', matchID=row['Match ID']) }}">Match Details</a></td>
                    <td>{{ row['Season'] }}</td>
                    <td>{{ row['Team 1'] }}</td>
                    <td>{{ row['Team 2'] }}</td>
                    <td>{{ row['Event'] }}</td>
                    <td>{{ row['Date'] }}</td>
                    <td>{{ row['Team 1 Score'] }}</td>
                    <td>{{ row['Team 2 Score'] }}</td>
                    <td>{{ row['Winner'] }}</td>
                    {% if row['Match VOD']|string != 'None' %}
                        <td>
                            <a href="{{ row['Match VOD'] }}" target="_blank">VOD</a>
                        </td>
                    {% else %}
                        <td>No VOD</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#matches').DataTable({
            ordering: false,
            scrollX: true
        });
    });

    var checkList = document.getElementById('season');
    checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
    if (checkList.classList.contains('visible'))
        checkList.classList.remove('visible');
    else
        checkList.classList.add('visible');
    }
</script>
{% endblock %}